html {
    /* px means "pixels". The base font size is now 10 pixels high */
    font-size: 10px;
    /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
    font-family: "Google Sans", sans-serif;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}